server:
  port: 8761

spring:
  application:
    name: eureka-back-server

eureka:
  server:
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 15000
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
